<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971456015430-dhvuls94sjtl401cq48aju6c3di3s5pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971456015430-dhvuls94sjtl401cq48aju6c3di3s5pv</string>
	<key>API_KEY</key>
	<string>AIzaSyBBXM2L3gm57ngl3bmpWK9C2J6X8JUHgc8</string>
	<key>GCM_SENDER_ID</key>
	<string>971456015430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reqApiApp</string>
	<key>PROJECT_ID</key>
	<string>bootcampmaterial-d3eec</string>
	<key>STORAGE_BUCKET</key>
	<string>bootcampmaterial-d3eec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971456015430:ios:b95c61d89a749787466e47</string>
</dict>
</plist>